<h1>Good Vibrations</h1>
<p>Fun fact: Barry Manilow's "Bermuda Triangle" was inspired by code disappearing in github when he was a programmer</p>

<%= link_to "Login", root_path, class: 'btn btn-primary' %>
